.card {
  height: 240px;
  width: 400px;
  background-color: rgb(131, 131, 131);
  position: relative;
  border: 1px solid rgb(71, 71, 71);
  margin-top: 0px;
  transition: margin-top 0.3s ease-out;
  z-index: 10;
}

.card-top {
  width: 0;
  height: 0;
  border-style: solid;
  border-top-color: rgb(94, 94, 94);
  border-bottom-color: rgb(94, 94, 94);
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top-width: 150px;
  position: absolute;
  z-index: 3;
}

.btn-click {
  position: absolute;
  height: 80px;
  width: 80px;
  background-color: orange;
  border-radius: 50%;
  top: 45%;
  right: 40%;
  border: 2px solid red;
  z-index: 5;
}

.btn-click:hover {
  cursor: pointer;
  background-color: rgb(170, 124, 39);
}

.bakra-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  z-index: 4;
  transition: all 2s;
  position: absolute;
}

.eid-txt {
  position: absolute;
  transition: all 2s;
  left: 20%;
  color: red;
  bottom: 10px;
  opacity: 0;
}
